@mixin figure {
  height: 50%;
  width: auto;
  position: absolute;
  top: 50%;
  z-index: 1;

  @include smaller-than($mantine-breakpoint-md) {
    top: unset;
    height: 40%;
  }

  @include smaller-than($mantine-breakpoint-sm) {
    height: 36%;
  }

  @include smaller-than($mantine-breakpoint-xs) {
    height: 30%;
  }
}

@mixin light {
  height: 50%;
  width: auto;
  aspect-ratio: 0.57;
  opacity: 0.7;
  background-color: $mantine-color-primary-flat;
  filter: blur(100px);
  position: absolute;
  top: 50%;
  border-radius: 9999px;
  z-index: 0;

  @include smaller-than($mantine-breakpoint-md) {
    height: 40%;
    top: unset;
  }

  @include smaller-than($mantine-breakpoint-sm) {
    height: 36%;
  }

  @include smaller-than($mantine-breakpoint-xs) {
    height: 30%;
  }
}

.container {
  background-color: var(--mantine-color-white);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  @include smaller-than($mantine-breakpoint-sm) {
    padding: 0 1rem;
  }

  .section--enter-name,
  .section--hello {
    @include smaller-than($mantine-breakpoint-sm) {
      width: 100%;
    }

    & > :not(:first-child) {
      margin-top: rem(40px);

      @include smaller-than($mantine-breakpoint-lg) {
        margin-top: rem(32px);
      }

      @include smaller-than($mantine-breakpoint-sm) {
        margin-top: rem(24px);
      }
    }

    .logo {
      height: rem(40px);
      width: auto;
      background-color: var(--mantine-primary-color-5);
      mask: url('../../assets/images/logo.svg') no-repeat center;

      @include smaller-than($mantine-breakpoint-lg) {
        height: rem(30px);
      }

      @include smaller-than($mantine-breakpoint-sm) {
        height: rem(24px);
      }

      @include smaller-than($mantine-breakpoint-xs) {
        height: rem(20px);
      }
    }
  }

  .section--enter-name {
    .title-and-enter-name {
      & > :not(:first-child) {
        margin-top: rem(24px);

        @include smaller-than($mantine-breakpoint-sm) {
          margin-top: rem(16px);
        }
      }

      .title {
        font-size: var(--mantine-font-size-4xl);
        font-weight: 600;
        color: $mantine-color-foreground-9;
        text-align: center;

        @include smaller-than($mantine-breakpoint-lg) {
          font-size: var(--mantine-font-size-3xl);
        }

        @include smaller-than($mantine-breakpoint-sm) {
          font-size: var(--mantine-font-size-xl);
        }

        @include smaller-than($mantine-breakpoint-xs) {
          font-size: var(--mantine-font-size-lg);
        }
      }
    }
  }

  .section--hello {
    .hello-illustrator {
      width: rem(260px);
      height: rem(260px);
      display: block;
      margin-left: auto;
      margin-right: auto;

      @include smaller-than($mantine-breakpoint-lg) {
        width: rem(200px);
        height: rem(200px);
      }

      @include smaller-than($mantine-breakpoint-sm) {
        width: rem(150px);
        height: rem(150px);
      }

      @include smaller-than($mantine-breakpoint-xs) {
        width: rem(120px);
        height: rem(120px);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .hello-and-welcome-text {
      & > :not(:first-child) {
        margin-top: rem(16px);

        @include smaller-than($mantine-breakpoint-sm) {
          margin-top: rem(8px);
        }
      }

      .hello-text {
        font-size: var(--mantine-font-size-3xl);
        font-weight: 300;
        color: $mantine-color-foreground-5;
        text-align: center;
        line-height: var(--mantine-line-height-heading);

        @include smaller-than($mantine-breakpoint-lg) {
          font-size: var(--mantine-font-size-2xl);
        }

        @include smaller-than($mantine-breakpoint-sm) {
          font-size: var(--mantine-font-size-lg);
        }

        @include smaller-than($mantine-breakpoint-xs) {
          font-size: var(--mantine-font-size-base);
        }
      }

      .welcome-text {
        font-size: var(--mantine-font-size-4xl);
        font-weight: 600;
        color: $mantine-color-foreground-9;
        text-align: center;
        line-height: var(--mantine-line-height-heading);

        @include smaller-than($mantine-breakpoint-lg) {
          font-size: var(--mantine-font-size-3xl);
        }

        @include smaller-than($mantine-breakpoint-sm) {
          font-size: var(--mantine-font-size-xl);
        }

        @include smaller-than($mantine-breakpoint-xs) {
          font-size: var(--mantine-font-size-lg);
        }
      }
    }
  }

  .figure {
    &--left {
      left: 0;
      transform: translate(-50%, -50%);
      @include figure;

      @include smaller-than($mantine-breakpoint-md) {
        bottom: 0;
        transform: translate(-50%, 0);
      }
    }

    &--right {
      right: 0;
      transform: translate(50%, -50%);
      @include figure;

      @include smaller-than($mantine-breakpoint-md) {
        top: 0;
        transform: translate(50%, 0);
      }
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .light {
    &--left {
      left: 0;
      transform: translate(-50%, -50%);
      @include light;

      @include smaller-than($mantine-breakpoint-md) {
        bottom: 0;
        transform: translate(-50%, 0);
      }
    }

    &--right {
      right: 0;
      transform: translate(50%, -50%);
      @include light;

      @include smaller-than($mantine-breakpoint-md) {
        top: 0;
        transform: translate(50%, 0);
      }
    }
  }
}
