.root {
  border-radius: 20px;
  padding: rem(16px) rem(40px);
  height: min-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;

  @include smaller-than($mantine-breakpoint-sm) {
    padding: rem(12px) rem(24px);
  }
}

.label {
  font-size: var(--mantine-font-size-xl);
  font-weight: 600;
  color: $mantine-color-foreground-8;
  line-height: var(--mantine-line-height-heading);

  @include smaller-than($mantine-breakpoint-lg) {
    font-size: var(--mantine-font-size-lg);
  }

  @include smaller-than($mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-base);
  }

  @include smaller-than($mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-sm);
  }
}
