.container {
  min-height: 100vh;
  background-image: url('../../assets/images/login_page_light_background_1920w.webp');
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;
  justify-items: center;

  @include dark {
    background-image: url('../../assets/images/login_page_dark_background_1920w.webp');
  }

  @include smaller-than($breakpoint-2xl) {
    background-image: url('../../assets/images/login_page_light_background_1536w.webp');

    @include dark {
      background-image: url('../../assets/images/login_page_dark_background_1536w.webp');
    }
  }

  @include smaller-than($breakpoint-xl) {
    background-image: url('../../assets/images/login_page_light_background_1280w.webp');

    @include dark {
      background-image: url('../../assets/images/login_page_dark_background_1280w.webp');
    }
  }

  @include smaller-than($breakpoint-lg) {
    background-image: url('../../assets/images/login_page_light_background_1024w.webp');

    @include dark {
      background-image: url('../../assets/images/login_page_dark_background_1024w.webp');
    }
  }

  @include smaller-than($breakpoint-md) {
    background-image: url('../../assets/images/login_page_light_background_768w.webp');

    @include dark {
      background-image: url('../../assets/images/login_page_dark_background_768w.webp');
    }
  }

  @include smaller-than($breakpoint-sm) {
    padding-inline: 1rem;
    background-image: url('../../assets/images/login_page_light_background_640w.webp');

    @include dark {
      background-image: url('../../assets/images/login_page_dark_background_640w.webp');
    }
  }

  @include smaller-than($breakpoint-xs) {
    background-image: url('../../assets/images/login_page_light_background_384w.webp');

    @include dark {
      background-image: url('../../assets/images/login_page_dark_background_384w.webp');
    }
  }

  .modeToggle {
    position: absolute;
    top: 5vh;
    background-color: rgba(39, 39, 42, 0.1);

    &:hover {
      background-color: rgba(39, 39, 42, 0.15);
    }

    @include dark {
      background-color: rgba(244, 244, 245, 0.2);

      &:hover {
        background-color: rgba(244, 244, 245, 0.25);
      }
    }

    @include smaller-than($breakpoint-xs) {
      top: 4vh;
    }
  }
}

.loginCard {
  width: 100%;
  max-width: rem(500px);
  background-color: $color-white;
  border-radius: rem(32px);
  padding: rem(40px) rem(32px);
  box-shadow: $shadow-2xl;

  @include dark {
    background-color: $color-background-8;
  }

  @include smaller-than($breakpoint-sm) {
    padding: rem(32px) rem(24px) rem(24px);
  }

  @include smaller-than($breakpoint-xs) {
    padding: rem(24px) rem(16px);
  }

  & > :not(:last-child) {
    margin-bottom: rem(40px);

    @include smaller-than($breakpoint-sm) {
      margin-bottom: 2rem;
    }

    @include smaller-than($breakpoint-xs) {
      margin-bottom: 1.5rem;
    }
  }
}

.logoAndHeading {
  & > :not(:last-child) {
    margin-bottom: 1rem;

    @include smaller-than($breakpoint-sm) {
      margin-bottom: 0.5rem;
    }
  }
}

.logo {
  text-align: center;
  line-height: 1;

  img {
    height: 1.2rem;
    width: auto;
    object-fit: contain;

    @include smaller-than($breakpoint-sm) {
      height: 1rem;
    }

    @include smaller-than($breakpoint-xs) {
      height: 0.75rem;
    }
  }
}

.heading {
  font-weight: $font-bold;
  color: $color-foreground-9;
  text-align: center;
  @include text-3xl;

  @include dark {
    color: $color-foreground-0;
  }

  @include smaller-than($breakpoint-sm) {
    @include text-2xl;
  }

  @include smaller-than($breakpoint-xs) {
    @include text-xl;
  }
}
