.buttonRoot {
  @include primaryButtonRoot;

  & {
    padding: rem(16px) rem(40px);
    display: block;
    margin-inline: auto;
    border-radius: $rounded-button;

    @include smaller-than($breakpoint-xs) {
      padding: rem(12px) rem(32px);
    }
  }
}

.titleAndInput {
  & > :not(:last-child) {
    margin-bottom: rem(24px);

    @include smaller-than($breakpoint-sm) {
      margin-bottom: rem(16px);
    }

    @include smaller-than($breakpoint-xs) {
      margin-bottom: rem(12px);
    }
  }
}

.title {
  font-weight: $font-semibold;
  color: $color-foreground-9;
  margin-bottom: rem(24px);
  @include text-3xl;

  @include dark {
    color: $color-foreground-0;
  }

  @include smaller-than($breakpoint-sm) {
    @include text-2xl;
  }

  @include smaller-than($breakpoint-xs) {
    @include text-xl;
  }
}

.textInputRoot {
  @include textInputRoot;
}
