.input {
  @include inputInput;

  @include smaller-than($mantine-breakpoint-lg) {
    font-size: var(--mantine-font-size-base);
  }

  @include smaller-than($mantine-breakpoint-sm) {
    padding: rem(16px);
  }

  @include smaller-than($mantine-breakpoint-xs) {
    padding: rem(12px) rem(16px);
    font-size: var(--mantine-font-size-sm);
  }
}

.root {
  max-width: rem(360px);
  margin-left: auto;
  margin-right: auto;

  @include smaller-than($mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.error {
  @include inputError;
}
