.form {
  & > :not(:last-child) {
    margin-bottom: 2rem;

    @include smaller-than($breakpoint-xs) {
      margin-bottom: 1.5rem;
    }
  }
}

.fields {
  & > :not(:last-child) {
    margin-bottom: 2rem;

    @include smaller-than($breakpoint-sm) {
      margin-bottom: 1.5rem;
    }

    @include smaller-than($breakpoint-xs) {
      margin-bottom: 1rem;
    }
  }
}

.emailInputRoot {
  @include textInputRoot;
}

.passwordInputRoot {
  @include passwordInputRoot;
}

.rememberMeAndForgotPassword {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
}

.forgotPasswordAnchorRoot {
  font-weight: $font-medium;
  color: $color-foreground-5;
  text-underline-offset: 0.25rem;
  @include text-base;

  @include dark {
    color: $color-foreground-4;
  }

  @include smaller-than($breakpoint-xs) {
    @include text-sm;
  }
}

.cta {
  & > :not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.loginButtonRoot {
  @include primaryButtonRoot;

  & {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    border-radius: $rounded-button;

    @include smaller-than($breakpoint-xs) {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }
}

.notHaveAccount {
  font-weight: $font-normal;
  color: $color-foreground-4;
  text-align: center;
  @include text-base;

  @include dark {
    color: $color-foreground-5;
  }

  @include smaller-than($breakpoint-xs) {
    @include text-sm;
  }
}

.registerAnchorRoot {
  @include anchorRoot;
}

.error {
  width: 100%;
  background-color: $color-danger-0;
  border-radius: $rounded-xl;
  padding: 1rem 1.5rem;

  @include dark {
    background-color: $color-danger-flat;
  }

  @include smaller-than($breakpoint-sm) {
    padding: 0.75rem 1rem;
  }

  @include smaller-than($breakpoint-xs) {
    padding: 0.75rem;
    border-radius: 0.75rem;
  }
}

.errorMessage {
  font-weight: $font-normal;
  color: $color-danger-5;
  @include text-base;

  @include smaller-than($breakpoint-sm) {
    @include text-sm;
  }

  @include smaller-than($breakpoint-xs) {
    @include text-xs;
  }
}

.loaderRoot {
  @include loaderRoot;
}
