.container {
  .buttonRoot {
    @include primaryButton;

    & {
      padding: rem(16px) 0;
    }

    @include smaller-than($mantine-breakpoint-sm) {
      padding-bottom: rem(12px);
      padding-top: rem(12px);
      font-size: var(--mantine-font-size-base);
    }

    @include smaller-than($mantine-breakpoint-xs) {
      font-size: var(--mantine-font-size-sm);
    }

    .buttonLabel {
      font-size: var(--mantine-font-size-lg);
    }
  }

  .lower {
    margin-top: rem(12px);
    font-size: var(--mantine-font-size-base);
    line-height: var(--mantine-line-height-body);
    text-align: center;

    @include smaller-than($mantine-breakpoint-xs) {
      font-size: var(--mantine-font-size-sm);
    }

    span {
      font-weight: $mantine-font-normal;
      color: $mantine-color-foreground-5;

      @include dark {
        color: $mantine-color-foreground-4;
      }
    }

    .rootAnchor {
      font-weight: $mantine-font-semibold;
      color: var(--mantine-primary-color-6);
      transition: color 0.3s ease-out;

      @include smaller-than($mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-sm);
      }

      &:hover {
        color: var(--mantine-primary-color-7);
      }
    }
  }
}

.loaderRoot {
  --loader-color: #{$mantine-color-foreground-7};
  --loader-size: calc(var(--mantine-font-size-lg) * 1.5);

  @include smaller-than($mantine-breakpoint-sm) {
    --loader-size: calc(var(--mantine-font-size-base) * 1.5);
  }

  @include smaller-than($mantine-breakpoint-xs) {
    --loader-size: calc(var(--mantine-font-size-sm) * 1.5);
  }
}
