.lower {
  margin-top: rem(12px);
  font-size: var(--mantine-font-size-base);
  line-height: var(--mantine-line-height-body);
  text-align: center;

  @include smaller-than($mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-sm);
  }

  span {
    font-weight: $mantine-font-normal;
    color: $mantine-color-foreground-5;

    @include dark {
      color: $mantine-color-foreground-4;
    }
  }
}

.loaderRoot {
  @include loaderRoot;
}

.buttonRoot {
  @include primaryButtonRoot;
}

.anchorRoot {
  @include anchorRoot;
}
