.container {
  .root {
    border-radius: 20px;
    padding-top: rem(16px);
    padding-bottom: rem(16px);
    font-weight: $mantine-font-semibold;
    line-height: var(--mantine-line-height-body);
    font-size: var(--mantine-font-size-lg);
    width: 100%;
    --button-height: min-content;
    overflow: visible;
    border: none;

    @include gradientAnimation(#00ff87, #60efff, #00e67a, #4fdfef, 0.3s) {
      filter: blur(0);
      border-radius: 20px;
      top: 100%;
    }

    @include smaller-than($mantine-breakpoint-sm) {
      padding-bottom: rem(12px);
      padding-top: rem(12px);
      font-size: var(--mantine-font-size-base);
    }

    @include smaller-than($mantine-breakpoint-xs) {
      font-size: var(--mantine-font-size-sm);
    }

    .label {
      color: $mantine-color-foreground-8;
    }
  }

  .lower {
    margin-top: rem(12px);
    font-size: var(--mantine-font-size-base);
    line-height: var(--mantine-line-height-body);
    text-align: center;

    @include smaller-than($mantine-breakpoint-xs) {
      font-size: var(--mantine-font-size-sm);
    }

    span {
      font-weight: $mantine-font-normal;
      color: $mantine-color-foreground-5;
    }

    .rootAnchor {
      font-weight: $mantine-font-semibold;
      color: var(--mantine-primary-color-6);
      transition: color 0.3s ease-out;

      @include smaller-than($mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-sm);
      }

      &:hover {
        color: var(--mantine-primary-color-7);
      }
    }
  }
}

.loaderRoot {
  --loader-color: #{$mantine-color-foreground-7};
  --loader-size: calc(var(--mantine-font-size-lg) * 1.5);

  @include smaller-than($mantine-breakpoint-sm) {
    --loader-size: calc(var(--mantine-font-size-base) * 1.5);
  }

  @include smaller-than($mantine-breakpoint-xs) {
    --loader-size: calc(var(--mantine-font-size-sm) * 1.5);
  }
}
