.form {
  & > :not(:last-child) {
    margin-bottom: rem(32px);

    @include smaller-than($breakpoint-sm) {
      margin-bottom: rem(24px);
    }

    @include smaller-than($breakpoint-xs) {
      margin-bottom: rem(16px);
    }
  }
}

.textInputRoot {
  @include textInputRoot;
}

.phoneNumberInputRoot {
  @include textInputRoot;

  .textInputInput {
    padding-inline-start: rem(64px);

    @include smaller-than($breakpoint-xs) {
      padding-inline-start: rem(56px);
    }
  }
}

.nationalIDAndPublishedDate {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: rem(24px);

  @include smaller-than($breakpoint-sm) {
    grid-template-columns: minmax(0, 1fr);
  }

  @include smaller-than($breakpoint-xs) {
    gap: 1rem;
  }
}

.datePickerInputRoot {
  @include datePickerInputRoot;
}

.datePickerPopoverDropdown {
  @include popoverDropdown();

  @include smaller-than($breakpoint-sm) {
    right: rem(16px);
    left: unset !important;
  }
}

.passwordPopoverDropdown {
  @include popoverDropdown();

  & {
    padding-top: rem(16px);
    padding-bottom: rem(16px);

    @include smaller-than($breakpoint-xs) {
      padding: rem(12px);
    }
  }
}

.datePickerInputDay {
  @include datePickerInputDay();
}

.passwordInputRoot {
  @include passwordInputRoot;
}

.submitAndLogin {
  & > :not(:last-child) {
    margin-bottom: rem(12px);

    @include smaller-than($breakpoint-xs) {
      margin-bottom: rem(8px);
    }
  }
}

.login {
  text-align: center;
  font-weight: $font-normal;
  color: $color-foreground-4;
  @include text-base;

  @include dark {
    color: $color-foreground-5;
  }

  @include smaller-than($breakpoint-xs) {
    @include text-sm;
  }
}

.anchorRoot {
  @include anchorRoot;
}

.submitButtonRoot {
  @include primaryButtonRoot;

  & {
    padding-top: rem(16px);
    padding-bottom: rem(16px);
    width: 100%;

    @include smaller-than($breakpoint-xs) {
      padding-top: rem(12px);
      padding-bottom: rem(12px);
    }
  }
}

.passwordRequirement {
  display: flex;
  align-items: center;
  gap: rem(8px);

  &[data-meets='true'] {
    color: $color-success-5;
  }

  &[data-meets='false'] {
    color: $color-danger-5;
  }

  &:not(:last-child) {
    margin-bottom: rem(8px);
  }

  svg {
    width: rem(18px);
    height: rem(18px);

    @include smaller-than($breakpoint-xs) {
      width: 1rem;
      height: 1rem;
    }
  }
}

.passwordRequirementLabel {
  font-weight: $font-normal;
  @include text-sm;

  @include smaller-than($breakpoint-xs) {
    @include text-xs;
  }
}

.passwordStrengthProgressRoot {
  @include progressRoot;

  &[data-strength='weak'] {
    .progressSection {
      background-color: $color-danger-5;
    }
  }

  &[data-strength='average'] {
    .progressSection {
      background-color: $color-warning-4;
    }
  }

  &[data-strength='strong'] {
    .progressSection {
      background-color: $color-success-5;
    }
  }
}
