.form {
  & > :not(:last-child) {
    margin-bottom: rem(32px);
  }
}

.textInputRoot {
  @include textInputRoot;
}

.phoneNumberInputRoot {
  @include textInputRoot;

  .textInputInput {
    padding-inline-start: rem(64px);
  }
}

.nationalIDAndPublishedDate {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: rem(24px);
}

.datePickerInputRoot {
  @include datePickerInputRoot;
}

.popoverDropdown {
  @include popoverDropdown();
}

.passwordPopoverDropdown {
  @include popoverDropdown();

  & {
    padding-top: rem(16px);
    padding-bottom: rem(16px);
  }
}

.datePickerInputDay {
  @include datePickerInputDay();
}

.passwordInputRoot {
  @include passwordInputRoot;
}

.checkboxRoot {
  @include checkboxRoot;
}

.submitAndLogin {
  & > :not(:last-child) {
    margin-bottom: rem(12px);
  }
}

.login {
  text-align: center;
  font-size: var(--mantine-font-size-base);
  line-height: var(--mantine-line-height-body);
  font-weight: $mantine-font-normal;
  color: $mantine-color-foreground-4;

  @include dark {
    color: $mantine-color-foreground-5;
  }
}

.anchorRoot {
  @include anchorRoot;
}

.submitButtonRoot {
  @include primaryButtonRoot;

  & {
    border-radius: rem(20px);
    padding-top: rem(16px);
    padding-bottom: rem(16px);
    width: 100%;
  }
}

.passwordRequirement {
  display: flex;
  align-items: center;
  gap: rem(8px);

  &[data-meets='true'] {
    color: $mantine-color-success-5;
  }

  &[data-meets='false'] {
    color: $mantine-color-danger-5;
  }

  &:not(:last-child) {
    margin-bottom: rem(8px);
  }

  svg {
    width: rem(18px);
    height: rem(18px);
  }
}

.passwordRequirementLabel {
  font-size: var(--mantine-font-size-sm);
  line-height: var(--mantine-line-height-body);
  font-weight: $mantine-font-normal;
}

.passwordStrengthProgressRoot {
  @include progressRoot;

  &[data-strength='weak'] {
    .progressSection {
      background-color: $mantine-color-danger-5;
    }
  }

  &[data-strength='average'] {
    .progressSection {
      background-color: $mantine-color-warning-4;
    }
  }

  &[data-strength='strong'] {
    .progressSection {
      background-color: $mantine-color-success-5;
    }
  }
}
