.form {
  & > :not(:first-child) {
    margin-top: rem(32px);

    @include smaller-than($mantine-breakpoint-sm) {
      margin-top: rem(24px);
    }

    @include smaller-than($mantine-breakpoint-xs) {
      margin-top: rem(16px);
    }
  }

  .input-group {
    & > :nth-child(2) {
      margin-top: rem(12px);

      @include smaller-than($mantine-breakpoint-sm) {
        margin-top: rem(8px);
      }

      @include smaller-than($mantine-breakpoint-xs) {
        margin-top: rem(4px);
      }
    }

    .label {
      font-size: var(--mantine-font-size-lg);
      font-weight: $mantine-font-semibold;
      color: $mantine-color-foreground-7;
      display: block;

      @include dark {
        color: $mantine-color-foreground-2;
      }

      @include smaller-than($mantine-breakpoint-sm) {
        font-size: var(--mantine-font-size-base);
      }

      @include smaller-than($mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-sm);
      }

      .asterisk {
        color: $mantine-color-danger;
      }
    }
  }

  .national-id-n-published-date {
    display: grid;
    gap: rem(24px);
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include smaller-than($mantine-breakpoint-sm) {
      grid-template-columns: minmax(0, 1fr);
    }

    @include smaller-than($mantine-breakpoint-xs) {
      gap: rem(16px);
    }
  }
}

.textInputRoot {
  @include textInputRoot;
}

.numberInputRoot {
  @include numberInputRoot;
}

.passwordInputRoot {
  @include passwordInputRoot;
}

.phoneNumberInputInput {
  padding-inline-start: 4rem !important;
}
