.wrapper {
  --input-radius: 20px;
  --input-height: rem(52px);
  --input-padding-inline-start: rem(16px);
  @include passwordInputWrapper;

  .input {
    @include passwordInputInput;

    .innerInput {
      @include passwordInputInnerInput;
    }
  }

  .visibilityToggle {
    svg {
      width: rem(24px);
      height: rem(24px);
      color: $mantine-color-foreground-5;

      @include dark {
        color: $mantine-color-foreground-4;
      }

      @include smaller-than($mantine-breakpoint-xs) {
        width: rem(18px);
        height: rem(18px);
      }
    }
  }
}

.error {
  @include inputError;
}

.dropdown {
  border: none;
  border-radius: 16px;
  box-shadow: var(--mantine-shadow-xl);
  padding: 1rem;

  .progressRoot {
    margin-bottom: rem(16px);
    border-radius: 8px;

    @include light {
      background-color: $mantine-color-background-1;
    }

    &[data-strength='weak'] {
      .progressSection {
        background-color: $mantine-color-danger;
      }
    }

    &[data-strength='medium'] {
      .progressSection {
        background-color: $mantine-color-warning-4;
      }
    }

    &[data-strength='strong'] {
      .progressSection {
        background-color: $mantine-color-success;
      }
    }
  }

  .requirement {
    display: flex;
    align-items: center;
    font-size: var(--mantine-font-size-sm);
    line-height: var(--mantine-line-height-body);
    font-weight: $mantine-font-normal;

    &:not(:last-child) {
      margin-bottom: rem(8px);
    }

    &[data-meets='true'] {
      color: $mantine-color-success;
    }

    &[data-meets='false'] {
      color: $mantine-color-danger;
    }

    &Label {
      margin-left: rem(8px);
    }
  }
}
