.passwordInputRoot {
  @include passwordInputRoot;
}

.popoverDropdown {
  @include popoverDropdown;
}

.progressRoot {
  margin-bottom: rem(16px);

  &[data-strength='weak'] {
    .progressSection {
      background-color: $mantine-color-danger-5;
    }
  }

  &[data-strength='medium'] {
    .progressSection {
      background-color: $mantine-color-warning-5;
    }
  }

  &[data-strength='strong'] {
    .progressSection {
      background-color: $mantine-color-success-5;
    }
  }
}

.requirement {
  font-size: var(--mantine-font-size-sm);
  font-weight: $mantine-font-normal;
  line-height: var(--mantine-line-height-body);
  display: flex;
  align-items: center;
  gap: rem(8px);

  &:not(:last-child) {
    margin-bottom: rem(8px);
  }

  &[data-meets='false'] {
    color: $mantine-color-danger-5;
  }

  &[data-meets='true'] {
    color: $mantine-color-success-5;
  }
}
