.overlayRoot {
  @include overlayRoot;
}

.modalRoot {
  @include modalRoot;
}

.imageContainer {
  background-color: $mantine-color-background-1;
  padding: rem(8px) 0;

  @include dark {
    background-color: $mantine-color-background-7;
  }
}

.image {
  width: rem(148px);
  height: rem(148px);
  object-fit: contain;
  display: block;
  margin: 0 auto;

  @include smaller-than($mantine-breakpoint-sm) {
    width: rem(120px);
    height: rem(120px);
  }

  @include smaller-than($mantine-breakpoint-xs) {
    width: rem(100px);
    height: rem(100px);
  }
}

.lower {
  padding: rem(24px) rem(40px);

  @include smaller-than($mantine-breakpoint-sm) {
    padding: rem(16px) rem(24px);
  }

  & > :not(:first-child) {
    margin-top: rem(32px);

    @include smaller-than($mantine-breakpoint-sm) {
      margin-top: rem(24px);
    }
  }
}

.titleNContent {
  text-align: center;

  & > :not(:first-child) {
    margin-top: rem(16px);
  }
}

.title {
  font-size: var(--mantine-font-size-xl);
  line-height: var(--mantine-line-height-heading);
  font-weight: $mantine-font-semibold;
  color: $mantine-color-foreground-9;

  @include dark {
    color: $mantine-color-foreground-0;
  }

  @include smaller-than($mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-lg);
  }
}

.content {
  font-size: var(--mantine-font-size-base);
  line-height: var(--mantine-line-height-body);
  font-weight: $mantine-font-normal;
  color: $mantine-color-foreground-5;

  @include dark {
    color: $mantine-color-foreground-4;
  }

  @include smaller-than($mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-sm);
  }
}

.highlight {
  font-weight: $mantine-font-semibold;
  color: $mantine-color-foreground-7;

  @include dark {
    color: $mantine-color-foreground-1;
  }
}

.buttonRoot {
  @include buttonRoot;

  @include smaller-than($mantine-breakpoint-sm) {
    padding-top: rem(12px);
    padding-bottom: rem(12px);
  }
}

.primaryButtonRoot {
  @include primaryButtonRoot;
}

@keyframes modalOpening {
  0% {
    opacity: 0;
    visibility: hidden;
    scale: (0.5);
  }

  100% {
    opacity: 1;
    visibility: visible;
    scale: (1);
  }
}

@keyframes modalClosing {
  0% {
    opacity: 1;
    visibility: visible;
    scale: (1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    scale: (0.5);
  }
}
