.buttonRoot {
  @include primaryButtonRoot;
}

.section {
  color: $mantine-color-foreground-8;

  svg {
    width: rem(24px);
    height: rem(20px);

    @include smaller-than($mantine-breakpoint-lg) {
      width: rem(20px);
      height: rem(20px);
    }

    @include smaller-than($mantine-breakpoint-xs) {
      width: rem(18px);
      height: rem(18px);
    }
  }
}
