@use 'sass:math';

@font-face {
  font-family: 'Inter Regular';
  src: url('/src/assets/fonts/Inter-Regular.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Italic';
  src: url('/src/assets/fonts/Inter-Italic.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Carattere Regular';
  src: url('/src/assets/fonts/Carattere-Regular.woff2') format('woff2');
  font-weight: 400;
}

// Define variables for your breakpoints,
// values must be the same as in your theme
$mantine-breakpoint-xs: '24em'; // 384px
$mantine-breakpoint-sm: '40em'; // 640px
$mantine-breakpoint-md: '48em'; // 768px
$mantine-breakpoint-lg: '64em'; // 1024px
$mantine-breakpoint-xl: '80em'; // 1280px
$mantine-breakpoint-2xl: '96em'; // 1536px

// Background shades
$mantine-color-background-0: var(--mantine-color-zinc-0);
$mantine-color-background-1: var(--mantine-color-zinc-1);
$mantine-color-background-2: var(--mantine-color-zinc-2);
$mantine-color-background-3: var(--mantine-color-zinc-3);
$mantine-color-background-4: var(--mantine-color-zinc-4);
$mantine-color-background-5: var(--mantine-color-zinc-5);
$mantine-color-background-6: var(--mantine-color-zinc-6);
$mantine-color-background-7: var(--mantine-color-zinc-7);
$mantine-color-background-8: var(--mantine-color-zinc-8);
$mantine-color-background-9: var(--mantine-color-zinc-9);

// Foreground shades
$mantine-color-foreground-0: var(--mantine-color-slate-0);
$mantine-color-foreground-1: var(--mantine-color-slate-1);
$mantine-color-foreground-2: var(--mantine-color-slate-2);
$mantine-color-foreground-3: var(--mantine-color-slate-3);
$mantine-color-foreground-4: var(--mantine-color-slate-4);
$mantine-color-foreground-5: var(--mantine-color-slate-5);
$mantine-color-foreground-6: var(--mantine-color-slate-6);
$mantine-color-foreground-7: var(--mantine-color-slate-7);
$mantine-color-foreground-8: var(--mantine-color-slate-8);
$mantine-color-foreground-9: var(--mantine-color-slate-9);

// Success shades
$mantine-color-success: var(--mantine-color-green-5);
$mantine-color-success-0: var(--mantine-color-green-0);
$mantine-color-success-1: var(--mantine-color-green-1);
$mantine-color-success-2: var(--mantine-color-green-2);
$mantine-color-success-3: var(--mantine-color-green-3);
$mantine-color-success-4: var(--mantine-color-green-4);
$mantine-color-success-5: var(--mantine-color-green-5);
$mantine-color-success-6: var(--mantine-color-green-6);
$mantine-color-success-7: var(--mantine-color-green-7);
$mantine-color-success-8: var(--mantine-color-green-8);
$mantine-color-success-9: var(--mantine-color-green-9);

// Warning shades
$mantine-color-warning: var(--mantine-color-yellow-5);
$mantine-color-warning-0: var(--mantine-color-yellow-0);
$mantine-color-warning-1: var(--mantine-color-yellow-1);
$mantine-color-warning-2: var(--mantine-color-yellow-2);
$mantine-color-warning-3: var(--mantine-color-yellow-3);
$mantine-color-warning-4: var(--mantine-color-yellow-4);
$mantine-color-warning-5: var(--mantine-color-yellow-5);
$mantine-color-warning-6: var(--mantine-color-yellow-6);
$mantine-color-warning-7: var(--mantine-color-yellow-7);
$mantine-color-warning-8: var(--mantine-color-yellow-8);
$mantine-color-warning-9: var(--mantine-color-yellow-9);

// Danger shades
$mantine-color-danger: var(--mantine-color-red-5);
$mantine-color-danger-0: var(--mantine-color-red-0);
$mantine-color-danger-1: var(--mantine-color-red-1);
$mantine-color-danger-2: var(--mantine-color-red-2);
$mantine-color-danger-3: var(--mantine-color-red-3);
$mantine-color-danger-4: var(--mantine-color-red-4);
$mantine-color-danger-5: var(--mantine-color-red-5);
$mantine-color-danger-6: var(--mantine-color-red-6);
$mantine-color-danger-7: var(--mantine-color-red-7);
$mantine-color-danger-8: var(--mantine-color-red-8);
$mantine-color-danger-9: var(--mantine-color-red-9);

// Flat colors
$mantine-color-amber-flat: rgba(245, 158, 11, 0.2);
$mantine-color-teal-flat: rgba(43, 222, 176, 0.2);
$mantine-color-slate-flat-300: rgba(203, 213, 225, 0.4);
$mantine-color-slate-flat-700: rgba(51, 65, 85, 0.4);
$mantine-color-green-flat: rgba(34, 197, 94, 0.2);
$mantine-color-red-flat: rgba(239, 68, 68, 0.15);
$mantine-color-yellow-flat: rgba(234, 179, 8, 0.2);
$mantine-color-indigo-flat: rgba(99, 102, 241, 0.2);
$mantine-color-zinc-flat-300: rgba(212, 212, 216, 0.4);
$mantine-color-zinc-flat-700: rgba(63, 63, 70, 0.4);
$mantine-color-primary-flat: $mantine-color-indigo-flat;
$mantine-color-background-flat: $mantine-color-zinc-flat-300;
$mantine-color-success-flat: $mantine-color-green-flat;
$mantine-color-warning-flat: $mantine-color-yellow-flat;
$mantine-color-danger-flat: $mantine-color-red-flat;

// Layout colors
$mantine-color-overlay: rgba(0, 0, 0, 0.3);
$mantine-color-divider: rgba(17, 17, 17, 0.15);

// Other colors
$mantine-color-input-bg-light: #f8f8f9;
$mantine-color-input-bg-dark: #2c2c31;
$mantine-color-nd-btn-bg-dark: #323238;
$mantine-color-nd-btn-bg-dark-hover: #39393f;
$mantine-color-nd-btn-bg-light: #f4f4f5;
$mantine-color-nd-btn-bg-light-hover: #ececee;

$mantine-color-bg-gradient-primary: linear-gradient(90deg, #4776e6, #8e54e9);
$mantine-color-bg-gradient-primary-dimmed: linear-gradient(90deg, #396be0, #7e40e2);

// Font weights
$mantine-font-extralight: 200;
$mantine-font-light: 300;
$mantine-font-normal: 400;
$mantine-font-medium: 500;
$mantine-font-semibold: 600;
$mantine-font-bold: 700;
$mantine-font-extrabold: 800;
$mantine-font-black: 900;

@function rem($value) {
  @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}

@mixin light {
  [data-mantine-color-scheme='light'] & {
    @content;
  }
}

@mixin dark {
  [data-mantine-color-scheme='dark'] & {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin smaller-than($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin larger-than($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

// Add direction mixins if you need rtl support
@mixin rtl {
  [dir='rtl'] & {
    @content;
  }
}

@mixin ltr {
  [dir='ltr'] & {
    @content;
  }
}

// Custom mixins
@mixin inputBorder {
  border: rem(2px) solid transparent;

  &:focus,
  &:focus-within {
    border-color: var(--mantine-primary-color-5);
  }

  &[data-error='true'] {
    border-color: $mantine-color-danger-5;
  }
}

@mixin inputError {
  font-size: var(--mantine-font-size-sm);
  font-weight: $mantine-font-normal;
  color: $mantine-color-danger-5;
  line-height: var(--mantine-line-height-body);
  margin-top: rem(8px);

  @include smaller-than($mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-xs);
    margin-top: rem(4px);
  }
}

@mixin inputLabel {
  font-size: var(--mantine-font-size-lg);
  line-height: var(--mantine-line-height-body);
  font-weight: $mantine-font-semibold;
  color: $mantine-color-foreground-7;

  @include dark {
    color: $mantine-color-foreground-2;
  }

  @include smaller-than($mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-base);
  }

  @include smaller-than($mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-sm);
  }
}

@mixin inputContent {
  font-size: var(--mantine-font-size-base);
  line-height: var(--mantine-line-height-body);
  font-weight: $mantine-font-normal;
  color: $mantine-color-foreground-6;

  @include dark {
    color: $mantine-color-foreground-3;
  }

  @include smaller-than($mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-sm);
  }
}

@mixin inputPlaceholder {
  color: $mantine-color-foreground-4;

  @include dark {
    color: $mantine-color-foreground-5;
  }
}

@mixin inputRequired {
  color: $mantine-color-danger;
}

@mixin inputSection {
  width: max-content;
  @include inputContent();

  &[data-position='right'] {
    inset-inline-end: rem(16px);

    @include smaller-than($mantine-breakpoint-xs) {
      inset-inline-end: rem(12px);
    }
  }

  &[data-position='left'] {
    inset-inline-start: rem(16px);

    @include smaller-than($mantine-breakpoint-xs) {
      inset-inline-start: rem(12px);
    }
  }

  svg {
    color: $mantine-color-foreground-5;
    width: rem(24px);
    height: rem(24px);

    @include dark {
      color: $mantine-color-foreground-4;
    }

    @include smaller-than($mantine-breakpoint-xs) {
      width: rem(20px);
      height: rem(20px);
    }
  }
}

@mixin textInputRoot {
  .textInputSection {
    @include inputSection();
  }

  .textInputWrapper {
    margin-top: rem(12px);

    @include smaller-than($mantine-breakpoint-sm) {
      margin-top: rem(8px);
    }

    @include smaller-than($mantine-breakpoint-xs) {
      margin-top: rem(4px);
    }
  }

  .textInputLabel {
    @include inputLabel;
  }

  .textInputRequired {
    @include inputRequired();
  }

  .textInputInput {
    background-color: $mantine-color-input-bg-light;
    border-radius: 20px;
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    padding-inline-start: rem(16px);
    padding-inline-end: rem(16px);
    height: min-content;
    @include inputBorder();
    @include inputContent();

    @include dark {
      background-color: $mantine-color-input-bg-dark;
    }

    @include smaller-than($mantine-breakpoint-xs) {
      padding-inline: rem(12px);
    }

    &::placeholder {
      @include inputPlaceholder();
    }
  }

  .textInputError {
    @include inputError;
  }
}

@mixin numberInputRoot {
  .numberInputInput {
    background-color: $mantine-color-background-1;
    border-radius: 20px;
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    padding-inline-start: rem(16px);
    padding-inline-end: rem(16px);
    height: min-content;
    @include inputBorder();
    @include inputContent();

    @include smaller-than($mantine-breakpoint-xs) {
      padding-inline: rem(12px);
    }

    &::placeholder {
      font-weight: $mantine-font-light;
      color: $mantine-color-foreground-4;
    }
  }

  .numberInputSection {
    color: $mantine-color-foreground-7;
    font-size: var(--mantine-font-size-base);
    font-weight: $mantine-font-normal;
    line-height: var(--mantine-line-height-body);

    &[data-position='left'] {
      inset-inline-start: rem(20px);
    }
  }
}

@mixin passwordInputRoot {
  .passwordInputLabel {
    @include inputLabel();
  }

  .passwordInputRequired {
    @include inputRequired();
  }

  .passwordInputWrapper {
    margin-top: rem(12px);

    @include smaller-than($mantine-breakpoint-sm) {
      margin-top: rem(8px);
    }

    @include smaller-than($mantine-breakpoint-xs) {
      margin-top: rem(4px);
    }
  }

  .passwordInputInput {
    background-color: $mantine-color-input-bg-light;
    height: rem(52px);
    border-radius: rem(20px);
    padding-inline-start: rem(16px);
    padding-inline-end: rem(48px);
    @include inputBorder();

    @include smaller-than($mantine-breakpoint-xs) {
      padding-inline-start: rem(12px);
      padding-inline-end: rem(40px);
    }

    &:focus,
    &:focus-within {
      border-color: var(--mantine-primary-color-5);
    }

    @include dark() {
      background-color: $mantine-color-input-bg-dark;
    }
  }

  .passwordInputInnerInput {
    padding-inline-end: inherit;
    padding-inline-start: inherit;
    @include inputContent();

    &::placeholder {
      @include inputPlaceholder();
    }
  }

  .passwordInputSection {
    @include inputSection();
  }

  .passwordInputVisibilityToggle {
    color: $mantine-color-foreground-5;

    @include dark {
      color: $mantine-color-foreground-4;
    }
  }

  .passwordInputError {
    @include inputError();
  }
}

@mixin datePickerInputRoot {
  .datePickerInputLabel {
    @include inputLabel;
  }

  .datePickerInputInput {
    background-color: $mantine-color-input-bg-light;
    border-radius: rem(20px);
    padding-inline-start: rem(16px);
    padding-inline-start: rem(16px);
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    @include inputBorder();
    @include inputContent();

    @include smaller-than($mantine-breakpoint-xs) {
      padding-inline: rem(12px);
    }

    @include dark {
      background-color: $mantine-color-input-bg-dark;
    }

    &:focus,
    &:focus-within {
      border: rem(2px) solid var(--mantine-primary-color-5);
    }

    &[data-error='true'] {
      border: rem(2px) solid $mantine-color-danger;
    }
  }

  .datePickerInputWrapper {
    margin-top: rem(12px);

    @include smaller-than($mantine-breakpoint-sm) {
      margin-top: rem(8px);
    }

    @include smaller-than($mantine-breakpoint-xs) {
      margin-top: rem(4px);
    }
  }

  .datePickerInputPlaceholder {
    @include inputPlaceholder();
  }

  .datePickerInputRequired {
    @include inputRequired();
  }

  .datePickerInputSection {
    @include inputSection();
  }

  .datePickerInputError {
    @include inputError();
  }
}

@mixin popoverDropdown {
  border: 1px solid transparent;
  border-radius: rem(16px);
  box-shadow: var(--mantine-shadow-xl);

  @include dark {
    background-color: $mantine-color-input-bg-dark;
  }
}

@mixin datePickerInputDay {
  border-radius: 9999px;

  &:where([data-selected]) {
    background-color: var(--mantine-primary-color-5);
    color: $mantine-color-foreground-0;
    font-weight: $mantine-font-semibold;

    @include hover {
      background-color: var(--mantine-primary-color-5);
    }
  }
}

@mixin checkboxRoot {
  .checkboxInner {
    width: rem(24px);
    height: rem(24px);
    flex-shrink: 0;

    @include smaller-than($mantine-breakpoint-xs) {
      width: rem(20px);
      height: rem(20px);
    }
  }

  .checkboxInput {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease-out;
    border-color: transparent;
    @include inputBorder();

    &:focus,
    &:focus-within {
      border-color: transparent;
    }

    &:focus-visible {
      outline-color: var(--mantine-primary-color-5);
    }

    &:checked + .checkboxIcon {
      opacity: unset;
      transform: unset;
    }

    @include light {
      background-color: $mantine-color-nd-btn-bg-light;

      &:checked {
        background-color: var(--mantine-primary-color-5);
      }
    }

    @include dark {
      background-color: $mantine-color-nd-btn-bg-dark;

      &:checked {
        background-color: var(--mantine-primary-color-5);
      }
    }
  }

  .checkboxLabel {
    @include inputLabel();

    & {
      font-weight: $mantine-font-normal;
      color: $mantine-color-foreground-6;
      font-size: var(--mantine-font-size-base);

      @include smaller-than($mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-sm);
      }
    }

    @include dark {
      color: $mantine-color-foreground-3;
    }
  }

  .checkboxError {
    @include inputError;
  }

  .checkboxIcon {
    width: 65%;
    color: $mantine-color-foreground-0;
    transform: unset;
    opacity: unset;
    transition: unset;
    // pointer-events: auto;
  }
}

@mixin buttonRoot {
  width: auto;
  height: min-content;
  border: none;
  padding: 0;
  transition: all 0.5s ease-out;

  .buttonLabel {
    font-size: var(--mantine-font-size-base);
    font-weight: $mantine-font-semibold;
    line-height: var(--mantine-line-height-body);

    @include smaller-than($mantine-breakpoint-xs) {
      font-size: var(--mantine-font-size-sm);
    }
  }
}

@mixin primaryButtonRoot {
  @include buttonRoot;

  & {
    background: $mantine-color-bg-gradient-primary;
    position: relative;
    z-index: 0;
  }

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-xl);

    .buttonLabel {
      color: var(--mantine-color-white);
    }
  }

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background: $mantine-color-bg-gradient-primary-dimmed;
    z-index: -1;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    filter: blur(0);
    border-radius: inherit;
    transform: translateY(0);

    @include dark {
      // background: $mantine-color-bg-gradient-primary-lighten;
    }
  }

  &:hover::before {
    opacity: 1;
  }

  .buttonLabel {
    color: $mantine-color-foreground-0;
    will-change: transform;
    transition: color 0.4s ease-out;
  }
}

@mixin secondaryButtonRoot {
  @include buttonRoot;

  & {
    background-color: $mantine-color-nd-btn-bg-light;

    @include dark {
      background-color: $mantine-color-nd-btn-bg-dark;
    }
  }

  &:hover {
    background-color: $mantine-color-nd-btn-bg-light-hover;

    @include dark {
      background-color: $mantine-color-nd-btn-bg-dark-hover;
    }
  }

  .buttonLabel {
    color: $mantine-color-foreground-6;

    @include dark {
      color: $mantine-color-foreground-3;
    }
  }
}

@mixin anchorRoot {
  font-size: inherit;
  line-height: inherit;
  color: var(--mantine-primary-color-5);
  font-weight: $mantine-font-semibold;
  transition: color 0.3s ease-out;

  &:hover {
    color: var(--mantine-primary-color-6);
  }
}

@mixin loaderRoot {
  --loader-color: var(--mantine-color-white);
  --loader-size: calc(var(--mantine-font-size-lg) * 1.5);

  @include smaller-than($mantine-breakpoint-sm) {
    --loader-size: calc(var(--mantine-font-size-base) * 1.5);
  }

  @include smaller-than($mantine-breakpoint-xs) {
    --loader-size: calc(var(--mantine-font-size-sm) * 1.5);
  }
}

@mixin modalRoot {
  .modalContent {
    background-color: transparent;
  }

  .modalBody {
    padding: 0;
  }
}

@mixin overlayRoot {
  background-color: $mantine-color-overlay;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(rem(8px));
}

@mixin progressRoot {
  background-color: $mantine-color-background-1;
  margin-bottom: rem(16px);
  border-radius: rem(8px);

  @include dark {
    background-color: $mantine-color-background-7;
  }

  .progressSection {
    border-radius: rem(8px);
    background-color: var(--mantine-primary-color-5);
  }
}

// Stylings
* {
  margin: 0;
}

body {
  background-color: var(--mantine-color-white);

  @include dark {
    background-color: $mantine-color-background-8;
  }
}
