.secondaryButtonRoot {
  @include secondaryButtonRoot;

  & {
    padding: rem(8px);
    border-radius: 8px;
  }
}

.icon {
  width: rem(24px);
  height: rem(24px);
  color: $mantine-color-foreground-7;

  @include dark {
    color: $mantine-color-foreground-2;
  }
}
