.container {
  padding: rem(80px) rem(64px);
  background-color: var(--mantine-color-white);

  .main {
    display: grid;
    grid-template-columns: rem(560px) rem(784px);
    justify-content: space-between;
    width: 100%;
    max-width: rem(1408px);
    margin: 0 auto;

    .left-col {
      & > :not(:first-child) {
        margin-top: rem(48px);
      }

      .heading {
        font-size: var(--mantine-font-size-4xl);
        font-weight: 700;
        color: $mantine-color-foreground-9;
      }
    }

    .side-image {
      width: rem(784px);
      height: auto;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
