.container {
  padding: rem(80px) rem(64px);

  @include smaller-than($mantine-breakpoint-xl) {
    padding-inline: rem(40px);
  }

  @include smaller-than($mantine-breakpoint-lg) {
    padding: 0;
  }
}

.main {
  width: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: rem(558px) rem(784px);
  gap: rem(48px);
  justify-content: center;

  @include smaller-than($mantine-breakpoint-2xl) {
    grid-template-columns: rem(558px) rem(576px);
  }

  @include smaller-than($mantine-breakpoint-xl) {
    grid-template-columns: rem(506px) rem(400px);
    gap: rem(40px);
  }

  @include smaller-than($mantine-breakpoint-lg) {
    grid-template-columns: minmax(0, 1fr);
    max-width: rem(558px);
    width: 100%;
    padding: rem(48px) rem(32px) rem(80px);
  }

  @include smaller-than($mantine-breakpoint-md) {
    padding-inline: rem(24px);
  }

  @include smaller-than($mantine-breakpoint-sm) {
    padding: rem(24px) rem(16px) rem(40px);
    max-width: 100%;
  }
}

.leftCol {
  & > :not(:last-child) {
    margin-bottom: rem(48px);

    @include smaller-than($mantine-breakpoint-sm) {
      margin-bottom: rem(24px);
    }
  }
}

.headingAndToggle {
  display: grid;
  grid-template-columns: minmax(0, 1fr) max-content;
  gap: rem(40px);
  align-items: center;
}

.heading {
  font-size: var(--mantine-font-size-4xl);
  line-height: var(--mantine-line-height-heading);
  font-weight: $mantine-font-bold;
  color: $mantine-color-foreground-9;

  @include dark {
    color: $mantine-color-foreground-0;
  }

  @include smaller-than($mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-3xl);
  }

  @include smaller-than($mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-2xl);
  }

  @include smaller-than($mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-xl);
  }
}

.rightCol {
  position: relative;
  height: rem(1060px);
  background-image: url('../../assets/images/register_side_image_784w.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;

  @include smaller-than($mantine-breakpoint-2xl) {
    background-image: url('../../assets/images/register_side_image_576w.webp');
  }

  @include smaller-than($mantine-breakpoint-xl) {
    background-image: url('../../assets/images/register_side_image_400w.webp');
  }

  @include smaller-than($mantine-breakpoint-lg) {
    display: none;
  }
}

.logo {
  position: absolute;
  top: rem(40px);
  right: rem(64px);
  width: max-content;
  height: min-content;

  @include smaller-than($mantine-breakpoint-lg) {
    top: rem(24px);
    right: rem(24px);
  }

  img {
    height: rem(30px);
    width: auto;
    object-fit: contain;

    @include smaller-than($mantine-breakpoint-lg) {
      height: rem(24px);
    }

    @include smaller-than($mantine-breakpoint-sm) {
      height: rem(16px);
    }
  }
}

.titleAndSubtitle {
  position: absolute;
  width: rem(620px);
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
  bottom: rem(100px);
  z-index: 1;
  text-align: center;

  @include smaller-than($mantine-breakpoint-2xl) {
    width: rem(490px);
    bottom: rem(80px);
  }

  @include smaller-than($mantine-breakpoint-xl) {
    width: rem(350px);
    bottom: rem(64px);
  }

  @include smaller-than($mantine-breakpoint-lg) {
    position: static;
    width: 100%;
    margin-top: auto;
    transform: translateX(0);
  }

  & > :not(:last-child) {
    margin-bottom: rem(24px);

    @include smaller-than($mantine-breakpoint-xl) {
      margin-bottom: rem(16px);
    }

    @include smaller-than($mantine-breakpoint-sm) {
      margin-bottom: rem(8px);
    }

    @include smaller-than($mantine-breakpoint-xs) {
      margin-bottom: rem(4px);
    }
  }
}

.title {
  font-family: 'Carattere Regular', sans-serif;
  font-weight: $mantine-font-normal;
  font-size: rem(64px);
  line-height: 1;
  color: var(--mantine-color-white);

  @include smaller-than($mantine-breakpoint-2xl) {
    font-size: rem(48px);
  }

  @include smaller-than($mantine-breakpoint-xl) {
    font-size: rem(40px);
  }

  @include smaller-than($mantine-breakpoint-lg) {
    font-size: rem(48px);
  }

  @include smaller-than($mantine-breakpoint-sm) {
    font-size: rem(32px);
  }

  @include smaller-than($mantine-breakpoint-xs) {
    font-size: rem(24px);
  }
}

.subtitle {
  font-size: var(--mantine-font-size-xl);
  font-weight: $mantine-font-normal;
  color: $mantine-color-foreground-4;
  line-height: var(--mantine-line-height-heading);

  @include smaller-than($mantine-breakpoint-2xl) {
    font-size: var(--mantine-font-size-lg);
    line-height: var(--mantine-line-height-body);
  }

  @include smaller-than($mantine-breakpoint-xl) {
    font-size: var(--mantine-font-size-base);
  }

  @include smaller-than($mantine-breakpoint-lg) {
    font-size: var(--mantine-font-size-lg);
  }

  @include smaller-than($mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-sm);
  }

  @include smaller-than($mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-xs);
  }
}

.overlaySideImg {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 80%);
  opacity: 0.8;
  -webkit-mask-image: url('../../assets/images/register_side_image_mask_784w.webp');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url('../../assets/images/register_side_image_mask_784w.webp');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  @include smaller-than($mantine-breakpoint-2xl) {
    -webkit-mask-image: url('../../assets/images/register_page_image_mask_576w.webp');
    mask-image: url('../../assets/images/register_page_image_mask_576w.webp');
  }

  @include smaller-than($mantine-breakpoint-xl) {
    -webkit-mask-image: url('../../assets/images/register_page_image_mask_400w.webp');
    mask-image: url('../../assets/images/register_page_image_mask_400w.webp');
  }
}

.hero {
  width: 100%;
  height: rem(350px);
  border-radius: 0 0 rem(62px) rem(62px);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 70%),
    url('../../assets/images/register_page_hero_1023w.webp');
  background-size: cover;
  background-position: center;
  padding: 0 rem(80px) rem(40px) rem(80px);
  display: flex;

  @include smaller-than($mantine-breakpoint-md) {
    padding-inline: rem(64px);
    padding-bottom: rem(32px);
  }

  @include smaller-than($mantine-breakpoint-sm) {
    border-radius: 0 0 rem(39px) rem(39px);
    padding-inline: rem(24px);
    padding-bottom: rem(24px);
    height: 15rem;
  }

  @include smaller-than($mantine-breakpoint-xs) {
    border-radius: 0 0 rem(33px) rem(33px);
    padding-inline: rem(16px);
    padding-bottom: rem(16px);
    height: 12rem;
  }
}
