.rememberMeChecboxRoot {
  @include checkboxRoot;

  .checkboxLabel {
    padding-inline-start: 0.5rem;
    font-weight: $font-medium;
    color: $color-foreground-5;
    @include text-base;

    @include dark {
      color: $color-foreground-4;
    }

    @include smaller-than($breakpoint-xs) {
      @include text-sm;
    }
  }
}
