.root {
  --checkbox-size: rem(24px);
  --checkbox-icon-color: #{$mantine-color-foreground-8};

  @include smaller-than($mantine-breakpoint-xs) {
    --checkbox-size: rem(20px);
  }

  .input {
    background-color: $mantine-color-background-1;
    border-radius: 8px;
    border-color: transparent;
    transition: background-color 0.3s ease-out;

    @include dark {
      background-color: $mantine-color-background-7;
    }

    &:checked {
      background-color: var(--mantine-primary-color-5);
    }
  }

  .icon {
    width: 60%;
    height: 60%;
    // transition: opacity 0.1s ease-out;
  }

  .labelWrapper {
    font-size: var(--mantine-font-size-base);
    font-weight: $mantine-font-medium;
    line-height: var(--mantine-line-height-body);
    color: $mantine-color-foreground-6;

    @include dark {
      color: $mantine-color-foreground-3;
    }

    @include smaller-than($mantine-breakpoint-xs) {
      font-size: var(--mantine-font-size-sm);
    }

    .label {
      padding-inline-start: rem(12px);

      @include smaller-than($mantine-breakpoint-xs) {
        padding-inline-start: rem(8px);
      }
    }
  }

  .error {
    @include inputError;
  }
}

// :where([data-mantine-color-scheme='light']) {
//   .input {
//     background-color: $mantine-color-background-1;
//   }
// }
